

.results{
    align-items: center;
    align-content: center;
    margin-right:15px;
    display: flex;
    margin-left: 35%;
    
}

  .screenshot{
    box-sizing: border-box;
    align-items: center;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;

  }
  
  /* Clearfix (clear floats) */
  .rowd::after {
    content: "";
    clear: both;
    display: table;
  }

  .descheader{
    text-align: center;
    font-weight: 800  ;
    font-size: 80px;
    font-family: 'ZCOOL XiaoWei', serif;
  }
  .desc{
    font-family: 'Special Elite', cursive;
    text-underline-position: below  ;
    
  }
  .descal{
    margin-left: 20px;
  }
  #scrc{
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 60px;
  }
  ul li{
    display: inline;
  }
  
span {
  content: "\003F";
  background-color: red;
  font-size: 15px;
}